.default-theme{
  .left{
    text-align: center;
    line-height: 200px;
    font-size: 32px;
    background: lightblue;
  }
  .right{
    text-align: center;
    line-height: 200px;
    font-size: 32px;
    background: yellowgreen;
  }
  .fixed{
    min-width: 1000px
  }
  p{
    font-size: 24px
  }
}
