$leftSideMenuWidth: 190px;

html, body {
  min-height: 100%;
}

.site-nav {
  position: static;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #288df0;
  transition: background-color ease-out .5s;
  z-index: 99;
  a {
    color: #fff;
    :visited {
      color: #fff;
    }
  }
  .logo {
    float: left;
    width: 140px;
    height: 20px;
    margin: 15px 10px 0 20px;
    transition: all ease-out .25s;
  }

  .nav-list {
    margin-left: 140px;
    font-size: 15px;
    line-height: 50px;
    transition: line-height ease-out .25s;

    li {
      padding: 0 25px;
      transition: background-color ease-in .2s;
    }
  }
}

.left-side-menu {
  width: $leftSideMenuWidth;
}

.site-content {
  .site-content-body {
    padding: 10px 15px;
  }
}

.search-form {
  .kuma-button {
    line-height: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .updown {
    height: 36px;
    padding-top: 5px;
  }
}

.search-container {
  button, div {
    float: left
  }
}

.show {
  -webkit-animation: fadeIn .2s ease-in-out;
  animation: fadeIn .2s ease-in-out;
}

.hidden {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

.nav-list {
  display: -ms-flexbox;
  display: flex;
}