<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/static/css/styles.css}" />
</head>
<body>
<div id="login"></div>
<script th:inline="javascript">
    var csrf = [[${_csrf.token}]],
        ctp = [[${#httpServletRequest.getContextPath()}]];
</script>
<!--<script th:src="@{/static/lib/es5-shim/es5-sham.min.js}"></script>-->
<!--<script th:src="@{/static/lib/es5-shim/es5-shim.min.js}"></script>-->
<script th:src="@{/static/lib/react/react.min.js}"></script>
<script th:src="@{/static/lib/react/react-dom.min.js}"></script>
<script th:src="@{/static/build/common.js}"></script>
<script th:src="@{/static/build/login.js}"></script>
</body>
</html>